<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean id="orderHeaderManager" class="com.alexandria.managers.OrderHeaderManagerImpl" />
    <bean id="clientManager" class="com.alexandria.managers.ClientManagerImpl" />
    <bean id="clientDao" class="com.alexandria.dao.ClientDaoImpl" />
    <bean id="titleDao" class="com.alexandria.dao.TitleDaoImpl" />
    <bean id="countryDao" class="com.alexandria.dao.CountryDaoImpl" />
    <bean id="paymentMethodDao" class="com.alexandria.dao.PaymentMethodDaoImpl" />
    <bean id="orderHeaderDao" class="com.alexandria.dao.OrderHeaderDaoImpl" />
    <bean id="orderLineDao" class="com.alexandria.dao.OrderLineDaoImpl" />
    <bean id="productDao" class="com.alexandria.dao.ProductDaoImpl" />
    <bean id="shippingMethodDao" class="com.alexandria.dao.ShippingMethodDaoImpl" />

    shippingMethodDao

    <!-- Provide support for component scanning -->
    <context:component-scan base-package="com.alexandria.controllers" />

    <mvc:resources location = "/static/" mapping = "/static/**" />

    <!--Provide support for conversion, formatting and validation -->
    <mvc:annotation-driven/>

    <!-- Define Spring MVC view resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>